/*————— GLOBAL STYLES —————*/

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15px;
    background-color: #ffffff;
}

.panel-heading {
    border-bottom: dotted 1px #0000ff;
}
/*————— INPUT PANEL —————*/


.add-player-form, #search-bar {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: dotted 1px #0000ff;
}

#input-panel {
    margin: 15px 0 0 0; 
    background: 
}

/*————— PLAYER PANEL —————*/

.api-buttons button {
    margin: 0 0 10px 0;
}

.player-card:hover {
    background-color: #EBEBEB;
    border: solid 1px #EBEBEB;
}

.player-card {
 display:inline-block; 
 border: dotted 1px #EBEBEB;  
 width: 200px;
 margin: 10px;
 text-align: center;
 color: #000000;
}

.drafted { 
    color: #0000ff;
    background-color: #ffffff;
    border: 1px solid #0000ff; 
}

.player-data {
    padding: 10px;
}

.player-name {
    margin: 0 0 20px 0;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
}

h5 {
    padding: 0 0 0 4px;
}

.delete, .draft {
    width: 20px;
    height: 20px;
    border: none;
}

.delete {
    position: relative;
    left: 85px;
    color: #ff0000;
    background-color: #EBEBEB;
}

.draft {
    position: relative;
    left: 85px;
    color: #00ff00;
    background-color: #ffffff;
}

.player-image {
    text-align: center;
}

.player-data {
    text-align: left;
}

/*————— TEAMS —————*/

.ARI {
    color: #97233F;
    border: solid 1px #FFB612;
}

.ATL {
    color: #A71930;
    border: solid 1px #A5ACAF;
}

.BAL {
    color: #241773;
    border: solid 1px #9E7C0C;
}

.BUF {
    color: #00338D;
    border: solid 1px #C60C30;
}

.CAR {
    color: #0085CA;
    border: solid 1px #BFC0BF;
}

.CHI {
    color: #0B162A;
    border: solid 1px #C83803;
}

.CIN {
    color: #FB4F14;
    border: solid 1px #000000;
}

.CLE {
    color: #FB4F14;
    border: solid 1px #A5ACAF;
}

.DAL {
    color: #002244;
    border: solid 1px #00338D;
}

.DEN {
    color: #002244;
    border: solid 1px #FB4F14;
}

.DET {
    color: #005A8B;
    border: solid 1px #B0B7BC;
}

.GB {
    color: #203731;
    border: solid 1px #FFB612;
}

.HOU {
    color: #03202F;
    border: solid 1px #A71930;
}

.IND {
    color: #002C5F;
    border: solid 1px #A5ACAF;
}

.JAC {
    color: #006778;
    border: solid 1px #D7A22A;
}

.KC {
    color: #E31837;
    border: solid 1px #FFB612;
}

.LA {
    color: #002244;
    border: solid 1px #B3995D;
}

.MIA {
    color: #008E97;
    border: solid 1px #F58220;
}

.MIN {
    color: #4F2683;
    border: solid 1px #FFC62F;
}

.NE {
    color: #002244;
    border: solid 1px #C60C30;
}

.NO {
    color: #000000;
    border: solid 1px #9F8958;
}

.NYG {
    color: #0B2265;
    border: solid 1px #A71930;
}

.NYJ {
    color: #203731;
    border: solid 1px #A5ACAF;
}

.OAK {
    color: #A5ACAF;
    border: solid 1px #000000;
}

.PHI {
    color: #004953;
    border: solid 1px #565A5C;
}

.PIT {
    color: #000000;
    border: solid 1px #FFB612;
}

.SD {
    color: #002244;
    border: solid 1px #FFB612;
}

.SF {
    color: #AA0000;
    border: solid 1px #B3995D;
}

.SEA {
    color: #002244;
    border: solid 1px #69BE28;
}

.TB {
    color: #D50A0A;
    border: solid 1px #FF7900;
}

.TEN {
    color: #002244;
    border: solid 1px #4B92DB;
}

.WAS {
    color: #773141;
    border: solid 1px #FFB612;
}